{% block mmenu_navbar %}
    {%- if app.user -%}
        <div class="pt-3 d-flex flex-row animate-color-change">
            <span class="me-3 me-sm-5">
                {% include '@FSchmidDevCore/account/_profile-picture.html.twig' %}
            </span>
            <div>
                <p>{{ 'user.logged_in_as'|trans }}<br><span class="text-break">{{ app.user.userIdentifier }}</span></p>
                <span>
                    <a href="{{ path('app_account') }}" class="button button--primary mb-3">{{ 'menu.manage_account'|trans }}</a><br>
                    <a href='{{ path('app_logout') }}' class="button">{{ 'menu.logout'|trans }}</a>
                </span>
            </div>
        </div>
    {%- else -%}
        <div class="container py-3 text-center d-flex flex-column animate-color-change">
            <h4 class="mb-0"><b>{{ 'mmenu.login_or_register'|trans }}</b></h4>
        </div>
    {%- endif -%}
{% endblock %}
